/* ----------------------------------------------------
   Basis-Styles und Reset
---------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;
  --color-blue: #0033cc;
  --color-orange: #ff6c0a;
}

/* ----------------------------------------------------
   Body Style
---------------------------------------------------- */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  text-transform: lowercase;
  color: white;
  font-family: "Mansalva";
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-size: 50vw, 50vw;
}

body.team {
  background-position: left bottom, right bottom;
  background-size: 30vw, 30vw;
}

/* ----------------------------------------------------
   Typografie
---------------------------------------------------- */
h1 {
  font-size: 4.8rem;
  font-family: "Mansalva";
  text-transform: lowercase;
  color: white;
}

h2,
.team-info h2 {
  font-size: 1.5rem;
  font-family: "Mansalva";
  font-weight: normal;
  color: white;
  text-transform: lowercase;
}

h3 {
  font-size: 1.5rem;
  font-family: "Sukhumvit Set";
  font-weight: bold;
  color: white;
  text-transform: lowercase;
}

h4,
.team-info h4 {
  font-size: 1rem;
  font-family: "Sukhumvit Set";
  font-weight: normal;
  color: white;
  text-transform: lowercase;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-family: "Sukhumvit Set";
  font-weight: normal;
  color: black;
  text-transform: lowercase;
  padding: 0px 20px 20px;
}

h6 {
  font-size: 1.5rem;
  font-family: "Sukhumvit Set";
  font-weight: bold;
  color: black;
  text-transform: lowercase;
}

/* ----------------------------------------------------
   Hintergrundfarben und Bilder
---------------------------------------------------- */
.backgroundblue {
  background-color: var(--color-blue);
  background-image: url("svgs/handsleftorange.svg"),
    url("svgs/handsrightorange.svg");
}

.backgroundorange {
  background-color: var(--color-orange);
  background-image: url("svgs/handsleftblue.svg"),
    url("svgs/handsrightblue.svg");
}

/* ----------------------------------------------------
   Header
---------------------------------------------------- */
header {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100px;
  min-height: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content h1 {
  font-size: 1.2rem;
  font-family: "Sukhumvit Set";
  font-weight: bold;
  color: #f26722;
  margin-bottom: 0;
}

.header-content p {
  font-size: 0.65rem;
  font-family: "Sukhumvit Set";
  font-weight: bold;
  color: #f26722;
  margin-top: 0;
}

.logo-link {
  font-family: "Sukhumvit Set";
  font-weight: bold;
  color: #f26722;
  text-decoration: none;
}

.logo-link:hover {
  text-decoration: none;
}

/* ----------------------------------------------------
   Tabs
---------------------------------------------------- */
.tabs {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tab {
  appearance: none;
  background: transparent;
  border: none;
  height: 53px;
  font-family: "Sukhumvit Set";
  font-weight: normal;
  font-size: 1rem;
  color: white;
  text-transform: lowercase;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.tab svg {
  height: 100%;
}

#buttonblue svg path {
  fill: var(--color-blue);
}

#buttonorange svg path {
  fill: var(--color-orange);
}

.tab:hover .tab-text {
  text-decoration: underline;
}

.tab-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.tab.active {
  z-index: 2;
}

#buttonblue {
  position: relative;
  right: -1rem;
}

/* ----------------------------------------------------
   Main & Truth Bereich
---------------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100%;
}

#truth {
  font-size: 3.5rem;
  max-width: 55%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100%;
  height: 100%;
}

/* ----------------------------------------------------
   Buttons
---------------------------------------------------- */
#nextBtn,
.homepageBtn {
  padding: 6px 32px;
  font-size: 1.2rem;
  font-family: "Sukhumvit Set";
  font-weight: bold;
  border: 5px solid white;
  background: transparent;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  text-transform: lowercase;
  text-decoration: none;
  display: block;
  margin: 50px auto 30px;
}

#nextBtn:hover, .homepageBtn:hover {
  background: white;
  color: var(--color-orange);
  text-decoration: none;
}

.backgroundblue #nextBtn:hover {
  color: var(--color-blue);
}

/* ----------------------------------------------------
   Versteckte Elemente
---------------------------------------------------- */
.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
}

/* ----------------------------------------------------
   Footer
---------------------------------------------------- */
footer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px 30px;
}

footer a {
  color: white;
  font-size: 1rem;
  font-family: "Sukhumvit Set";
  font-weight: normal;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

/* ----------------------------------------------------
   Team Section
---------------------------------------------------- */
.team-section {
  text-align: center;
}

.team-section h1 {
  font-size: 3.45rem;
  font-family: "Mansalva";
  font-weight: normal;
  color: white;
  margin-bottom: 40px;
  text-transform: lowercase;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 40px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Sukhumvit Set";
  color: white;
}

.team-member img {
  height: 176px;
  margin-bottom: 10px;
}

/* ----------------------------------------------------
   Overlay Popup
---------------------------------------------------- */

/* Animation vorbereiten */
.popup-inhalt {
  background-color: white;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.popup-fenster {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wenn Popup gezeigt wird */
.popup-fenster.show {
  pointer-events: auto;
  opacity: 1;
}
.popup-fenster.show .popup-inhalt {
  transform: scale(1);
  opacity: 1;
}

.popup-inhalt {
  background-color: white;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}

.popup-inhalt::before {
  content: "";
  display: block;
  background-color: var(--color-blue);
  height: 40px;
  width: 100%;
}

#popup-mostlikelyto .popup-inhalt::before {
  background-color: var(--color-orange);
}

.popup-inhalt .content {
  padding: 50px 16px 50px 16px;
}

.popup-inhalt p {
  color: #111;
  line-height: 1.6;
  margin-bottom: 50px;
}

.schliessen-button {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  font-family: "Mansalva";
  font-weight: bold;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* ----------------------------------------------------
   Sprach-Auswahl
---------------------------------------------------- */
#languageSelect {
  padding: 6px 32px;
  font-size: 1rem;
  font-family: "Sukhumvit Set";
  background: var(--color-blue);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  text-transform: lowercase;
  text-decoration: none;
  display: block;
  margin: 50px auto 30px;
  appearance: none;
  outline: none;
  text-align: center;
}

.backgroundblue #languageSelect {
  background: var(--color-orange);
}

#languageSelect option {
  background-color: var(--color-orange);
  color: white;
  padding: 8px 16px;
}

#languageSelect option:hover {
  background-color: var(--color-orange);
}

/* ----------------------------------------------------
   Responsive Design
---------------------------------------------------- */
@media (max-width: 1000px) {
  :root {
    font-size: 14px;
  }

  body {
    background-size: 70vw, 70vw;
  }

  body.team {
    background-size: 60vw, 60vw;
  }

  #truth {
    font-size: 2.5rem;
  }

  .tab {
    height: 30px;
  }

  header {
    justify-content: flex-start;
    padding: 0 20px;
  }

  .team-members {
    flex-direction: column;
    gap: 20px;
  }

  .team-member img {
    height: 90px;
  }

  .team-section h1 {
    margin-bottom: 20px;
  }

  .homepageBtn {
    margin: 10px auto;
    padding: 0;
    border: none;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1rem;
  }

  footer {
    justify-content: center;
  }

  footer a {
    text-decoration: underline;
  }
}
